<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <title>Title</title>
</head>
<body>
    {{{body}}}
</body>
</html>